<style>
  .title {
    color: #00ad76;
    text-align: center;
  }
  
  .banner {
    column-count:2;
    text-align: center;
    background-color: #00ad76;
  }
  
  .banner_link{
    color: #00ad76;
    text-align:center;
  }
  
  .p {
    color:brown;
  }
</style>

<div class = "title"><h1>This is the Hipster Blog</h1></div>

<h3><div class = "p"><%= link_to 'Take me back home', root_path %></div></h3>

Lorem ipsum dolor amet fashion axe pork belly hella unicorn synth VHS literally taxidermy pickled sustainable microdosing fixie knausgaard. Vexillologist truffaut poutine health goth, 
edison bulb prism pickled swag glossier kombucha poke normcore tofu. Kogi sustainable hella street art, swag vegan skateboard ugh crucifix subway tile gochujang mumblecore aesthetic flannel. 
Cornhole sartorial leggings, flexitarian echo park fanny pack ennui waistcoat shoreditch squid selvage. Messenger bag shaman sriracha marfa, art party iceland chillwave chambray celiac 
cloud bread gochujang salvia glossier next level.

Viral biodiesel crucifix hell of offal swag tattooed. Tofu marfa cloud bread hella cray vape. Art party vape lyft waistcoat photo booth, YOLO tofu vinyl snackwave trust fund brooklyn. 
Brunch pabst XOXO, selvage readymade actually cornhole vinyl woke schlitz hexagon. Lyft 8-bit swag dreamcatcher next level, kombucha williamsburg.

Pork belly leggings chicharrones disrupt deep v. Put a bird on it umami pork belly tumblr lomo keytar. Whatever tilde vexillologist shabby chic post-ironic street art organic 
brunch kickstarter. Meggings leggings pug, bicycle rights williamsburg actually pabst food truck brunch normcore green juice deep v kinfolk venmo. Raw denim distillery franzen, 
succulents portland la croix cold-pressed.




