<style>
  .title {
    color: #00ad76;
    text-align: center;
  }
  
  .banner {
    column-count:2;
    text-align: center;
    background-color: #00ad76;
  }
  
  .banner_link{
    color: #00ad76;
    text-align:center;
  }
  
  .p {
    color:brown;
  }
</style>

<div class = "title"><h1>This is the Hipster Blog</h1></div>

<h3><div class = "banner"></div>Lorem ipsum dolor amet fashion axe freegan chambray pinterest ramps marfa la croix mustache mumblecore kombucha. Marfa venmo mlkshk chicharrones 
tumblr lumbersexual skateboard humblebrag vinyl put a bird on it glossier. 90's hell of ramps austin microdosing listicle farm-to-table kogi swag occupy 
trust fund tumeric. Edison bulb migas irony, kitsch meggings marfa kombucha forage fingerstache +1</h3></div>

<div class = "p"><h3><%= link_to 'Find out about me', about_path %></h3></div>

<div class="p">Lorem ipsum dolor amet letterpress lomo vaporware fingerstache etsy, hoodie shoreditch pug tbh artisan air plant. Pitchfork chicharrones franzen vice palo santo iceland. 
Gentrify blog cornhole roof party, drinking vinegar thundercats enamel pin small batch photo booth swag chambray glossier man bun umami polaroid. Tumeric deep v actually leggings.
Leggings DIY vegan activated charcoal. Helvetica crucifix franzen gochujang banh mi occupy. Skateboard 3 wolf moon fingerstache bitters shabby chic polaroid tumblr vaporware next 
level hoodie la croix. Echo park wayfarers messenger bag, microdosing asymmetrical semiotics beard kombucha ugh pok pok cray post-ironic letterpress meditation.</div>